<div style="padding-top: 10px" class="container border border-dark w-50 rounded">
    <%= form_with(model: collection) do |form| %>
      <% if collection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

          <ul>
            <% collection.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div style="padding-bottom: 10px" class="field">
        <%= form.label :name, "Nome" %>
        <%= form.text_field :name %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

    <br>
    <%= link_to 'Voltar', collections_path %>
</div>