<p id="notice"><%= notice %></p>

<h1 class="text-center">Coleção <%= @collection.name %></h1>
<div style="padding-top: 4px" class="container border border-dark w-75">
  <h1 class="text-center">Seus Álbuns</h1>

  <div style="padding-bottom: 2px" class="container w-50">
      <% @albums.each do |album| %>
        <p class="text-center"><%= link_to album.title, collection_album_path(@collection, album),
        class: 'link-dark' %></p>
      <% end %>

      <br>
      <%= link_to 'Novo Álbum', new_collection_album_path, class: 'btn btn-primary' %>
      <%= link_to 'Voltar a coleção', @collection, class: 'btn btn-light' %>
  </div>
</div>