<p id="notice"><%= notice %></p>

<h1 class="text-center">Coleção <%= @collection.name %></h1>
<div style="padding-top: 4px" class="container border border-dark w-75">
  <h1 class="text-center">Seus Álbuns</h1>

  <div class="container w-50">
      <%= @collection.albums.each do |album| %>
        <p><%= @albums %></p>
      <% end %>

      <br>
      <%= link_to 'Novo Álbum', new_collection_album_path %>
  </div>
</div>