<p id="notice" class="text-center"><%= notice %></p>

<h1 class="text-center">
  <strong><%= @item.title %></strong>
</h1>

<p class="text-center"><%= @item.description %></p>

<p style="font-size: 18px; margin-top: 100px" class="text-center">
  <%= link_to 'Editar', edit_collection_path(@collection), class: 'btn btn-warning' %>
  <%= link_to 'Deletar', collection_album_item_path(@collection, @album, @item), method: :delete,
  data: { confirm: 'Você tem certeza que deseja Deletar?' }, class: 'btn btn-danger' %>
  <%= link_to 'Voltar', collection_album_items_path(@collection, @album), class: 'btn btn-primary' %>
</p>
